* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.jersey-20-charted-regular {
	font-family: "Jersey 20 Charted", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.title-font{
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.navbar{
	font-family:'Roboto Mono', monospace,  Arial, sans-serif;
	border-bottom: 1px solid #6c757d;
}
.navbarSearchIcon{
	font-size: 24px !important;
	margin-top: 5px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color:#f8f9fa;
}

.navbar-toggler-icon {
  background-image:url("../images/menu.png");
}


.show_arrow{
	font-size: 20px;
}
.bi{
	color:#f8f9fa;
}

.invalid_form_input{
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #ff6767;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(253, 13, 13, 0.25);
}