<!-- Footer -->
<footer class="bg-dark text-white py-3">
    <div class="container text-center">
        <div class="row py-5">
            <div class="col-md-3 col-12">
                <h3 class="title-font text-light">CONTACT</h3>
                <p class="text-secondary">Make an inquiry</p>
            </div>
            <div class="col-md-3 col-12">
                <h3 class="title-font text-light">SOCIAL</h3>
                <div class="d-flex justify-content-center">
                    <a href="#" class="me-3"><i class="text-secondary bi bi-facebook"></i></a>
                    <a href="#" class="me-3"><i class="text-secondary bi bi-instagram"></i></a>
                    <a href="#" class="me-3"><i class="text-secondary bi bi-twitter"></i></a>
                    <a href="#" class="me-3"><i class="text-secondary bi bi-pinterest"></i></a>
                    <a href="#" class="me-3"><i class="text-secondary bi bi-youtube"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <h3 class="title-font text-light">SERVICE</h3>
                <p class="text-secondary">Book a test ride</p>
            </div>
            <div class="col-md-3 col-12">
                <h3 class="title-font text-light">LEGAL</h3>
                <p class="text-secondary">Privacy | Cookies</p>
            </div>

        </div>
        <div class="row text-center">
            <p>&copy; 2024 NORIMONO. All rights reserved.</p>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->

<!-- Link to jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>