<%- include('header'); -%>
    <%- include('navbar'); -%>

	<!-- Welcome Section -->
	<section id="welcome-section" class="py-5">
		<div class="container">
			<div class="row text-center py-5">
				<div>
					<h1>WARRANTY & INSURANCE</h1>
				</div>
			</div>
			<div class="row text-center py-3">
				<div>
					<h4>Consultation service available</h4>
				</div>
			</div>

			<div class="row mb-4 py-3">
				<div class="col-sm-6 col-12">
					<div class="card">
						<img src="images/insurance1.jpg" class="img-fluid rounded" alt="Image 1">
						<div class="card-body">
							<h5 class="card-title">Warranty</h5>
							<p>
								We stand by the quality of our products, which is why we offer a comprehensive warranty to ensure your peace of mind. Our warranty covers defects in materials and workmanship, providing you with the assurance that your purchase is protected.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-12">
					<div class="card">
						<img src="images/insurance2.jpg" class="img-fluid rounded" alt="Image 2">
						<div class="card-body">
							<h5 class="card-title">Insurance</h5>
							<p>
								Safeguard your investments with our comprehensive insurance coverage. Our policy offers protection against unforeseen events, providing you with the security and confidence you need. Rest easy knowing that your assets are shielded with our trusted insurance service.
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>


            <%- include('footer'); -%>