<%- include('header'); -%>
    <%- include('navbar'); -%>

        <!-- Banner -->

        <div class="container-fluid p-0">
            <img src="images/motorcycleBanner.jpg" class="d-block w-100" alt="vanila and chocolate icecream">

        </div>


        <!-- Welcome Section -->
        <section id="welcome-section" class="py-5">
            <div class="container">
                <div class="row text-center py-5">
                    <div>
                        <h1>EXPLORE THE MOTORCYCLES</h1>
                    </div>
                </div>

                <div class="row mb-4 py-3">
                    <div class="col-sm-4 col-12">
                        <div class="card h-100">
                            <img src="images/vintage1.jpg" class="img-fluid rounded" alt="Image 1">
                            <div class="card-body">
                                <h5 class="card-title">CLASSIC</h5>
                                <p>
                                    Embrace timeless style and heritage with our Classic motorcycles. Crafted with
                                    meticulous attention to detail, these bikes exude nostalgia and elegance. Whether
                                    you're cruising through city streets or winding country roads, our Classic
                                    motorcycles deliver a blend of vintage charm and modern performance, making every
                                    ride an unforgettable journey.
                                </p>
                            </div>
                            <div class="card-footer">
                                SHOP NOW <span class="show_arrow">&#8594;</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="card h-100">
                            <img src="images/vintage2.jpg" class="img-fluid rounded" alt="Image 2">
                            <div class="card-body">
                                <h5 class="card-title">CRUISER</h5>
                                <p>
                                    Experience the epitome of laid-back luxury with our Cruiser motorcycles. Designed
                                    for comfort and relaxation, these bikes boast a relaxed riding position and ample
                                    amenities for long-distance cruising. From sleek lines to powerful engines, our
                                    Cruiser motorcycles offer a perfect balance of style and performance, ensuring a
                                    smooth and enjoyable ride on every adventure.
                                </p>
                            </div>
                            <div class="card-footer">
                                SHOP NOW <span class="show_arrow">&#8594;</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="card h-100">
                            <img src="images/vintage3.jpg" class="img-fluid rounded" alt="Image 3">
                            <div class="card-body">
                                <h5 class="card-title">GRAND TOURING</h5>
                                <p>
                                    Elevate your riding experience with our Grand Touring motorcycles. Engineered for
                                    the open road, these bikes combine comfort, versatility, and performance in one
                                    dynamic package. With advanced features such as spacious storage, adjustable
                                    windshields, and ergonomic seating, our Grand Touring motorcycles are your ultimate
                                    companion for exploring vast landscapes and embarking on epic journeys with ease.
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="/pro">SHOP NOW <span class="show_arrow">&#8594;</span></a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>

            <%- include('footer'); -%>