	<!-- Modal -->
	<div class="modal fade" id="welcome" tabindex="-1" aria-labelledby="autoOpenModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content bg-dark">
				<div class="modal-header text-center bg-dark">
					<h5 class="modal-title w-100 text-light" id="autoOpenModalLabel">Welcome to NORIMONO</h5>
				</div>
				<div class="modal-body bg-dark text-light ">
					<div class="text-center">
						<p>Are you passionate about motorcycles? </p>
						<p>Do you dream of the wind in your face as you ride through stunning landscapes?</p>
					</div>
					<div class="text-left">
						<p>Join our community of enthusiasts, where you'll enjoy:</p>

						<ul>
							<li>Access to exclusive events and rides</li>
							<li>Special discounts on motorcycle gear and accessories</li>
							<li>Expert tips and advice for riders of all levels</li>
							<li>Connect with like-minded riders and share your experiences</li>
						  </ul>
					</div>
					<div class="text-center">
						<a href="11_registration.html" ><button class="btn btn-outline-secondary">Sign Up Now!</button></a>
					</div>
				</div>
		</div>
	</div>
